* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

#intro {
    height: 100%;
    background-color: #cd5d7d;
}


#timeline {
    height: auto;
    background-color: #ffd56b;
    overflow: hidden;
    display: block;
}

#love {
    height: auto;
    background-color: #23689b;
    overflow: hidden;
    display: block;
}

#reasons {
    height: auto;
    background-color: #d3e0ea;
    overflow: hidden;
    display: block;
}

#why {
    height: 100%;
    background-color: #ffabe1;
}

#memories {
    height: auto;
    background-color: #eaac7f;
    overflow: hidden;
    display: block;
}


.item {
    margin: 50px auto;
    text-align: center;
    color: white;
    font-size: 1em;
}

.myCard {
    background-color: #726a95;
    color: white;
}

.myCard-subtitle {
    color: white !important;
}

#container {
    width: 200px;
}

.hearts {
    width: 200px;
}

.why-title {
    margin-bottom: 50px;
    font-size: 10em;
}

.why-caption {
    margin-bottom: 100px;
}

img {
    height: 500px;
}

.figure-caption {
    font-size: 1em;
    color: black;
}

p {
    font-style: italic;
}

.card-reason{
    background-color: #ff884b;
    color: black;
}

.card-reason-sub{
  color: black !important;
  font-weight: bold;
}